%general{
  font-weight: bold;
  text-align: center;
}
$colorleader:blue
.alliance{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black
  padding: 8px
  text-align:center;
  #leader{
    color:$colorleader;
    font-size: 20px
    width:200px;
    font-weight:bold;
  }
  #puppet{
    color:$colorleader
    font-size: 15px;
    width:200px;
  }
}
th{
  @extend %message
  font-size: 22px;
}
.Title{
  @extend %message
  font-size: 32px;
}
.subheading{
  @extend %message
}
