.alliance{
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  text-align: center;
  border: 2px solid black
}
.leader{
    color:blue;
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    border: 2px solid black
  }
.puppet{
    color:blue;
    font-size: 15px;
    width: 200px;
    padding: 8px;
    text-align: center;
    border: 2px solid black
  }

th{
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}
.Title{
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}
.subheading{
  font-weight: bold;
  text-align: center;
}
