%general{
  font-weight: bold;
  text-align: center;
}
$colorleader:gold
.alliance{
  display: flex;
  flex-wrap: wrap;
  #leader{
    color:$colorleader;
    font-size: 16px
    font-weight:bold;
  }
  #puppet{
    color:$colorleader
    font-size: 10px;
  }
}
th{
  @extend %message
  font-size: 22px;
}
.Title{
  @extend %message
  font-size: 32px;
}
.subheading{
  @extend %message
  font-weight: bold;
}
