  body{
    font-family: Calibri;
    background-color: #fdffa3
  }
  div, a, img, table, ul, p{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  table, th, td{
    padding: 8px;
    text-align: center;
    border: 2px solid black
  }
  table{
    border-collapse:collapse;
  }
